body {
    font-family: "Muli", sans-serif;
    font-size: 15px;
    line-height: 1.75 rem;
    margin: 0;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
    color: #6c757d;
}

html {
    transition-delay: 2s;
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
}

#button {
    border-radius: 30px;
}

.cutom-color {
    color: #21c87a;
}

#navbar {
    margin-top: -30px;
}

#navbar ul li a {
    margin-right: 10px;
}

#navbar ul li a:hover {
    color: black;
    background-color: rgb(218, 218, 17);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
}

.icon-block {
    margin-right: 20px;
    color: #28a745;
    font-size: 40px;
    line-height: 20px;
    font-weight: 400;
}

h1 {
    line-height: 40px;
}

#service-card {
    height: 400px;
    margin: 20px;
    font-family: JetBrains Mono;
    border-radius: 10px;
    background-image: linear-gradient(to left bottom, rgba(6, 105, 31, 0.8), rgba(23, 44, 26, 0)), url(..images/delivery-service-with-mask-concept-illustration_23-2148504160.jpg);
}

#service-card h5 {
    font-size: 25px;
    font-family: "poppins", serif;
    letter-spacing: 0.03rem;
    overflow: hidden;
}

#service-card ul li {
    line-height: 30px;
}

#service-card:hover {
    transform: translateY(-30px);
    transition: .5s ease-in-out;
    transition-delay: .1s;
    margin: 10px;
}

#service-card img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

#aboutus-card {
    border: 15px solid white;
    padding: 3px;
    width: 600px;
    border-radius: 1px;
    margin-top: 200px;
    margin-left: -120px;
    background-color: #F4F7FC;
    position: relative;
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}

#aboutus-card h4 {
    margin: 10px;
}

#aboutus-card p {
    line-height: 30px;
    margin-top: 25px;
    text-align: justify;
}

.about img {
    border-radius: 5px;
    height: 500px;
}

.quotes {
    max-height: 550px;
    margin-top: 20px;
    min-height: 250px;
    padding: 5px;
}

.quote {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 40px;
    height: 350px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.quote p {
    margin-top: 40px;
    ;
}

.footer a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

.footer ul li {
    text-decoration: none;
    list-style-type: none;
}

.footer a:hover {
    color: black;
    background-color: rgb(218, 218, 17);
    border-radius: 30px;
    width: 50%;
    transform: translateX(20px);
}

@media screen and (max-width:768px) {
    #navbar {
        margin-top: 20px;
    }
}

@media screen and (max-width:500px) {
    #aboutus-card {
        margin-left: 40px;
        padding: 5px;
        margin: 10px;
        position: relative;
        height: auto;
    }
}